{% extends '::base.html.twig' %}
{% block title %}Корпоративная система отчетов {% endblock %}
{% block header %}Корпоративная система отчетов. {{ user }}, <a href="{{ path('fos_user_security_logout') }}">выйти</a>. {% endblock %}
{% block body %}
<style>
    table,tr,td {
        border-collapse: collapse;
    }
	#legend {
		bottom: 50px;
		right: 20px;
		margin: 0;
		padding: 5px;
		text-align: left;
		border: 1px solid;
		background: #FFFFFF;
		cursor: move;
		width:200px;
	}
	.tableTop{clear:both;}
	#hor-minimalist-b{margin-top:6px;}
	#hor-minimalist-b td{padding:4px; background:#eeeeee!important;border-bottom:3px #ffffff solid;}
	#hor-minimalist-b th{border-bottom:3px #ffffff solid;}
	#hor-minimalist-b tr td.not_full_report {background:#FBC2C4!important;}
	#hor-minimalist-b tr.discharged td{background:#ECE0F9!important;}
	.tblHd{float:left;margin:0px;padding:0px 40px 0px 0px;font-size:13px;font-weight:bold;}
</style>

<script type="text/javascript" src="/js/jquery-ui-draggable.custom.min.js"></script>
<script type="text/javascript"> 
	jQuery(document).ready(function(){
        $('#department').change(function(){
           if ($(this).val() != 'none') {
                window.location.search = '?department='+$(this).val()+'&year={{year}}';
           } else {
                window.location.search = '?year={{year}}';
           }
        });
		
		$("#legend").draggable();
		
		var link1 = $('#report_link1').attr('href');
		var link2 = $('#report_link2').attr('href');
		var link_prev =  $('#prev_link').attr('href');
		var link_next =  $('#next_link').attr('href');
		var link = $('#export_link').attr('href');

		
		function updateLinks()
		{
			var result = '';
			if ($('#hide_empty').is(':checked')) {
				result = result + '&hide_empty=1';
			} 

			$('#report_link1').attr('href', link1+result);
			$('#report_link2').attr('href', link2+result);
			$('#prev_link').attr('href', link_prev+result);
			$('#next_link').attr('href', link_next+result);
			$('.export_link').attr('href', link+result);
		}
		
		$('#hide_empty').change(function(){
			if ($(this).is(':checked')) {
				$('.empty_report').hide();
				updateLinks();
			} else {
				$('.empty_report').show();
				updateLinks();
			}
			makeCoolColorDifferentiation();
		});
		
		
		
		$('#hide_discharged').change(function(){
			if ($(this).is(':checked')) {
				$('.discharged').hide();
				updateLinks();
			} else {
				$('.discharged').show();
				updateLinks();
			}
			makeCoolColorDifferentiation();
			countOneMoreTime();
		});
		$('#hide_discharged').attr('checked', 'checked');
		$('#hide_discharged').change();
		
		{% if hide_empty %}
			$('#hide_empty').attr('checked', 'checked');
			$('#hide_empty').change();
		{% endif %}
    });
	
	function makeCoolColorDifferentiation()
	{
		$('.employee:visible').each(function(index, element){
			if (index % 2 == 0) {
				$(this).css('background', '#EEEEEE');
			} else {
				$(this).css('background', '#FFFFFF');
			}
		});
	}
	
	function countOneMoreTime()
	{
		var times = new Array();
		$('.employee:visible').each(function(index, element){
			$(this).children('.time').each(function(idx){
				if (times[idx] == undefined) {
					times[idx] = 0;
				}
				var report_time = parseFloat($(this).text());
				if (isNaN(report_time)) {
					report_time = 0;
				}
				times[idx] = times[idx] + report_time;
			});
		});
		
		$('.sum').each(function(index, element){
			$(this).text(Math.round(times[index]));
		});
		
		var total = 0;
		$('.total:visible').each(function(index, element){
			total = total + parseFloat($(this).text());
		});
		$('#full_sum').text(total);
	}
  </script>


<!--<table width="100%">
    <tr>
        <td align="left">
            {# список подразделений #}
            <select id="department">
               {#<option value="none">#}
                {%for department in departments%}
                    <option value="{{department.id}}" {% if department.selected %} selected {%endif%}>{{department.title}}
                {%endfor%}
            </select>
            {# /список подразделений #}
            <a href="user_day">по дням</a>
            <a href="user_week">по неделям</a>
            по месяцам
			|
			<a href="user_month?export=csv" id="export_link">Экспортировать в CSV</a>
        </td>
        <td align="right">
            <a href="?year={{prev_year}}{%if department %}&department={{department}}{%endif%}">&lt;</a>
            {{year}}
            <a href="?year={{next_year}}{%if department %}&department={{department}}{%endif%}">&gt;</a>
        </td>
    </tr>
</table>-->
{% include "ArmdReportBundle:Report:breadcrumbs.html.twig" %}
<div class="append-1 prepend-1">
<div class="span-26">

{% include 'ArmdReportBundle:Report:user_filters.html.twig' %}


<div class="span-5">
            <p>
			<a id="report_link1" href="user_day{% if department %}?department={{department}}{%endif%}">по дням</a><br/>
            <a id="report_link2" href="user_week{% if department %}?department={{department}}{%endif%}">по неделям</a><br/>
            <b>по месяцам</b></p>
</div>
<div class="tableTop">
<h2 class="tblHd">Заполняемость ежедневных отчетов по месяцам</h2>
<div class="span-7">
            <a href="?year={{prev_year}}{%if department %}&department={{department}}{%endif%}" id="prev_link">&larr; Назад</a>
            <b>{{year}}</b>
            <a href="?year={{next_year}}{%if department %}&department={{department}}{%endif%}" id="next_link">Вперед &rarr;</a></div>
<div class="span-14" style="width:150px;float:right;margin-right:0px;">
<div class="span-2" style="width:150px;margin-right:0px;">
Экспортировать в
<a class="export_link" href="user_month?export=csv{% if department %}&department={{department}}{%endif%}"><img border="0" src="/css/blueprint/plugins/link-icons/icons/xls.png"/></a>
<a class="export_link" href="user_month?export=csv{% if department %}&department={{department}}{%endif%}" id="export_link">CSV</a>
</div>
</div>
</div>
</div>


<table id="hor-minimalist-b" width="100%">
    <thead>
    <tr>
        <th>Сотрудник</th>
{% for month in months %}
        <th><a href="/search?&begin=01.{{ month }}.{{year}}&end=31.{{ month }}.{{year}}">{{ month }}</a></th>
{% endfor %}
        <th>&sum;</th>
    </tr>
    </thead>
    <tbody>
{% for entity in entities%}
    <tr  {%if loop.index is odd%}style="background:#EEEEEE;"{%endif%} class="employee {% if entity['sum'] == 0 %}empty_report{%endif%} {% if entity['discharged'] == 1 %}discharged{% endif %}">
        <td><a href="/search?employee[]={{entity['employee_id']}}">{{entity['employee']}}</a></td>

        {% for month,key in months %}
            <td class="time {% if entity['not_full'][months[key]] %}not_full_report{%endif%}" title="из {{month_working_hours[entity['id']][key]}}">
            <a href="/search?&begin=01.{{ month }}.{{year}}&end=31.{{ month }}.{{year}}&employee[]={{entity['employee_id']}}">
            	{{entity[months[key]]}}
            </a>
            </td>
        {% endfor %}
        <td class="total">{{entity['sum']}}</td>
    </tr>
{% endfor %}
<tr>
    <td>&sum;</td>
    {% for month, key in months %}
        <td class="sum">{{month_sums[months[key]]}}</td>
    {% endfor %}
    <td id="full_sum">{{full_sum}}</td>
</tr>
    </tbody>
</table>
</div>
{% endblock %}

